{:kotoba.app/id "cloud.itonami.isic-2680", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiclr6wr5jjbvehzxzax5qy2ok63jsciy2l3pgv53ykj3kx7f5dgqe", :kotoba.app/embed-url "ipfs://bafkreiclr6wr5jjbvehzxzax5qy2ok63jsciy2l3pgv53ykj3kx7f5dgqe", :published {:archive "https://kotobase.net/ipfs/bafkreiclr6wr5jjbvehzxzax5qy2ok63jsciy2l3pgv53ykj3kx7f5dgqe", :size 72923, :put-status 201, :get-status 200, :at "2026-08-15T13:39:34.481Z"}}
